:root {
  /* Modo claro */
  --bg-primary: #f8f9fa;/* Color de fondo */
  --bg-secondary: #e9ecef;/* Color de sidebar */
  --bg-tertiary: #ffffff;/* Color de objetos*/

  --text-primary: #2d3748;/* Color de letra titulos*/
  --text-secondary: #2d3748;;/* Color de letra em general*/
  --accent-color: #45a049;/* Color de iconos*/
  --header-bg: #ffffff;/* Color del navbar*/
}

/* Modo oscuro */
.dark-mode {
  --bg-primary: #121212;
  --bg-secondary: #1e1e1e;
  --bg-tertiary: #2d2d2d;
  --text-primary: #e2e8f0;
  --text-secondary: #a0aec0;
  --accent-color: #4caf50;
  --accent-hover: #5dc264;
  --border-color: #383838;
  --card-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  --sidebar-bg: #1a1a1a;
  --sidebar-active: #2a462c;
  --card-bg: #2d2d2d;
  --header-bg: #1a1a1a;
}

.admin-layout {
  display: flex;
  min-height: 100vh;
  background-color: var(--bg-primary);
  color: var(--text-secondary);
  transition: background-color 0.3s, color 0.3s;
}

.admin-content {
  flex: 1;
  margin-left: 250px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
}

.admin-content.expanded {
  margin-left: 0;
}

.admin-header {
  height: 70px;
  background-color: var(--header-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid var(--border-color);
}

.admin-header .left {
  display: flex;
  align-items: center;
}

.admin-header h1 {
  margin: 0;
  font-size: 1.5rem;
  color: var(--text-primary);
}

.menu-btn {
  background: transparent;
  border: none;
  color: var(--text-primary);
  font-size: 1.2rem;
  cursor: pointer;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-header .right {
  display: flex;
  align-items: center;
}

.mobile-theme-toggle {
  background: transparent;
  border: none;
  color: var(--text-primary);
  font-size: 1.2rem;
  cursor: pointer;
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 0.75rem;
}

.admin-main {
  flex: 1;
  padding: 1.5rem;
  background-color: var(--bg-primary);
}


.page-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.page-title h1 {
  margin: 0;
  font-size: 1.5rem;
  color: var(--text-primary);
}

.page-title svg {
  color: var(--accent-color);
}
.icon-accent {
  color: var(--accent-color);
}
.title-icon {
  color: var(--text-primary);
}
@media (max-width: 768px) {
  .admin-content {
    margin-left: 0;
  }
  
  .admin-header .left h1 {
    font-size: 1.2rem;
  }
}